@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Inter', sans-serif;
}

.header{
    width:100%;
    height:8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#FF6B1A;
    color:white;
}

.logo {
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:0.8rem;

}

.logo img{
    width:100%;
    width:1.5rem;
    height:1.25rem;
    align-self: center;
}
.navigation{
    width:100%;
    height:4.5rem;
    background-color: #1A1A1A;

}
nav ul li {
    display: none;
}
.navbar{
    display:flex;
    flex-direction: row;
    align-items: center;
    width:8rem;
    height:3rem;
    background-color: #FF6B1A;
    margin-left:1rem;
    border-radius:1rem;
    color:white;
}
.burgermenu{
  margin-right: -1.2rem;
  display:block;
  width: 4rem;
  height: 4rem;
  background: none;

}
.hero-section{
    width:100%;
    min-height:24rem;
    background-color:#2A2A2AE5;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    position: relative;
    z-index: 1;
}

.hero-section img{
    width:100%;
    position:absolute;
    z-index: 2;
    opacity: 0.2;
    max-width: 60%;
    height: auto;
}


.main-section{
    width:100%;
    margin-top:2.4rem;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    gap:1.8rem;
    margin-bottom:10rem;
}

.logo-descr{
    display: flex;
    flex-direction: row;
}

.card{
    width:15rem;
    height:12.5rem;
    border: 1px solid transparent;
    background-color: white;
    border-radius: 0.75rem;
    box-shadow: 0 0 0 0.06rem rgba(0, 0, 0, 0.05);
    background-clip: padding-box;
    border-top: 0.26rem solid orange;
    padding-top:1.6rem;
    padding-left:1.5rem;
}

.logo-descr img{
    display: block;
    width: 1.5rem;
    height:1.5rem;
    border-radius: 0.25rem;
    object-fit:cover;
}

.footer{
    width:100%;
    height:5.6rem;
    background-color: #1A1A1A;
    text-align: center;
    color:white;
    
}

.footer-text{
    padding: 2.3rem;
}

/*tablet version starts here*/
@media (min-width:768px) and (max-width: 1090px){
    .main-section{
    margin-top:2.05rem;
    display: grid;
    grid-template-columns: repeat(2,324px);
    justify-content: center;
    align-items: center;
    gap:1.8rem;
    margin-bottom:10rem;
} 
}


/*This defines desktop version*/
@media (min-width:1091px){
    .header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#FF6B1A;
    width:100%;
    min-height:12.5rem;
    color:white;
    font-size:2rem;
    }

    .logo {
    display: flex;
    flex-direction: row;
    gap:0.75rem;
}

.logo img{
    width:2.8rem;
    height:2.8rem;
    align-self: center;
}
.header p{
    font-size:18px;
}

.navigation{
    width:100%;
    height:4.5rem;
    font-size:2rem;
    background-color: #1A1A1A;
    display:flex;
    justify-content: center;
    align-items: center;

}

li{
    list-style-type: none;
    
}

nav ul{
    display:flex;
    gap:2.5rem;
}

li a{
    text-decoration: none;
    color:white;
}

nav a.active{
    background-color: #FF6B1A;
    border-radius:0.5rem;
}
  nav ul li {
        display: inline-block;
    }
    .navbar {
        display: none;
    }
ul li:hover{
  scale:0.8;
  background-color: #FF6B1A;
  cursor:pointer;
}
.hero-section{
    width:100%;
    min-height:33rem;
    background-color:#2A2A2AE5;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    font-size:2rem;
    position: relative;
}
.hero-section p{
    font-size:1.5rem;
}

.hero-section img{
    opacity: 0.1;
    width:15rem;
    height:15rem;
    position: absolute;
    z-index:2;

}
.description{
    padding-top:0.6rem;
}

.main-section{
    margin-top:2.05rem;
    display: grid;
    grid-template-columns: repeat(3,324px);
    justify-content: center;
    align-items: center;
    gap:1.8rem;
    margin-bottom:10rem;
}
 .card{
    width:20rem;
    height:13rem;
    border: 0.06rem solid transparent;
    background-color: white;
    border-radius: 0.75rem;
    box-shadow: 0 0 0 0.06rem rgba(0, 0, 0, 0.05);
    background-clip: padding-box;
    border-top: 0.25rem solid orange;
    padding-top:1.6rem;
    padding-left:1.5rem;
}

.card:hover{
    scale:1.2;
    cursor:pointer;
}
}

.card img{
    padding-right:0.37rem;
}
.footer{
    width:100%;
    height:5.6rem;
    background-color: #1A1A1A;
    text-align: center;
    color:white;
    
}
.footer-text{
    padding: 2rem;
}
}

